<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css"/>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <a href="/auth/register">
            <section id="banner">
                <p id="text">Nuestros socios tienen beneficios. Registrate GRATIS y DISFRUTA!</p>
                <span id="img"></span>
            </section>
        </a>

        <section id="products">
            <h1>Novedades del mes</h1>
            <ul>
                <% products.forEach((product) => { %> 
                <a a href="/product/<%= product.id %>">
                <li>
                    <img src= "<%= product.image %>" />
                    <h3> <%= product.title %> </h3>
                </li>
                </a>
                <% }); %>
            </ul>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>